[submodule "photos-backend"]
	path = photos-backend
	url = https://github.com/RuurdBijlsma/photos-backend
[submodule "photos-processing"]
	path = photos-processing
	url = https://github.com/RuurdBijlsma/photos-processing
[submodule "nginx/photos-frontend"]
	path = nginx/photos-frontend
	url = https://github.com/RuurdBijlsma/photos-frontend
